@tailwind base;
@tailwind components;
@tailwind utilities;

.search{
    width: 220px;
    padding: 5px 2px;
    border: 2px solid white;
    border-radius: 3px;
    background-color: black;
    animation-name: searchinput;
    animation-duration: 0.5s;
    /* animation-direction: reverse; */
    

}
.searchInput{
    background-color: transparent;
}
.searchInput:focus{
    outline: none;

}

@keyframes searchinput {
    from {width: 0;}
    to {width: 220px;}
}

.scrollbar{
    scroll-behavior: smooth;
    scrollbar-width: none;
    
    
}
body{
    background-color: black;
}